<a href="https://colab.research.google.com/github/sarbas33/sarbas/blob/master/Main_Code_Copy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
raw_df=pd.read_csv("/content/drive/MyDrive/Project Final Year /datasets/dataco/DataCoSupplyChainDataset.csv", encoding="ISO-8859-1")

In [4]:
raw_df.head()

       Type  ...   Shipping Mode
0     DEBIT  ...  Standard Class
1  TRANSFER  ...  Standard Class
2      CASH  ...  Standard Class
3     DEBIT  ...  Standard Class
4   PAYMENT  ...  Standard Class

[5 rows x 53 columns]

In [5]:
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180519 entries, 0 to 180518
Data columns (total 53 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Type                           180519 non-null  object
 1   Days for shipping (real)       180519 non-null  int64
 2   Days for shipment (scheduled)  180519 non-null  int64
 3   Benefit per order              180519 non-null  float64
 4   Sales per customer             180519 non-null  float64
 5   Delivery Status                180519 non-null  object
 6   Late_delivery_risk             180519 non-null  int64
 7   Category Id                    180519 non-null  int64
 8   Category Name                  180519 non-null  object
 9   Customer City                  180519 non-null  object
 10  Customer Country               180519 non-null  object
 11  Customer Email                 180519 non-null  object
 12  Customer Fname                 180519 non-null  object
 13  Customer Id                    180519 non-null  int64
 14  Customer Lname                 180511 non-null  object
 15  Customer Password              180519 non-null  object
 16  Customer Segment               180519 non-null  object
 17  Customer State                 180519 non-null  object
 18  Customer Street                180519 non-null  object
 19  Customer Zipcode               180516 non-null  float64
 20  Department Id                  180519 non-null  int64
 21  Department Name                180519 non-null  object
 22  Latitude                       180519 non-null  float64
 23  Longitude                      180519 non-null  float64
 24  Market                         180519 non-null  object
 25  Order City                     180519 non-null  object
 26  Order Country                  180519 non-null  object
 27  Order Customer Id              180519 non-null  int64
 28  order date (DateOrders)        180519 non-null  object
 29  Order Id                       180519 non-null  int64
 30  Order Item Cardprod Id         180519 non-null  int64
 31  Order Item Discount            180519 non-null  float64
 32  Order Item Discount Rate       180519 non-null  float64
 33  Order Item Id                  180519 non-null  int64
 34  Order Item Product Price       180519 non-null  float64
 35  Order Item Profit Ratio        180519 non-null  float64
 36  Order Item Quantity            180519 non-null  int64
 37  Sales                          180519 non-null  float64
 38  Order Item Total               180519 non-null  float64
 39  Order Profit Per Order         180519 non-null  float64
 40  Order Region                   180519 non-null  object
 41  Order State                    180519 non-null  object
 42  Order Status                   180519 non-null  object
 43  Order Zipcode                  24840 non-null   float64
 44  Product Card Id                180519 non-null  int64
 45  Product Category Id            180519 non-null  int64
 46  Product Description            0 non-null       float64
 47  Product Image                  180519 non-null  object
 48  Product Name                   180519 non-null  object
 49  Product Price                  180519 non-null  float64
 50  Product Status                 180519 non-null  int64
 51  shipping date (DateOrders)     180519 non-null  object
 52  Shipping Mode                  180519 non-null  object
dtypes: float64(15), int64(14), object(24)
memory usage: 73.0+ MB

In [6]:
print('List of all Columns in the Dataset: ')
raw_df.columns

List of all Columns in the Dataset:

Index(['Type', 'Days for shipping (real)', 'Days for shipment (scheduled)',
       'Benefit per order', 'Sales per customer', 'Delivery Status',
       'Late_delivery_risk', 'Category Id', 'Category Name', 'Customer City',
       'Customer Country', 'Customer Email', 'Customer Fname', 'Customer Id',
       'Customer Lname', 'Customer Password', 'Customer Segment',
       'Customer State', 'Customer Street', 'Customer Zipcode',
       'Department Id', 'Department Name', 'Latitude', 'Longitude', 'Market',
       'Order City', 'Order Country', 'Order Customer Id',
       'order date (DateOrders)', 'Order Id', 'Order Item Cardprod Id',
       'Order Item Discount', 'Order Item Discount Rate', 'Order Item Id',
       'Order Item Product Price', 'Order Item Profit Ratio',
       'Order Item Quantity', 'Sales', 'Order Item Total',
       'Order Profit Per Order', 'Order Region', 'Order State', 'Order Status',
       'Order Zipcode', 'Product Card Id', 'Product Category Id',
       'Product Description', 'Product Image', 'Product Name', 'Product Price',
       'Product Status', 'shipping date (DateOrders)', 'Shipping Mode'],
      dtype='object')

In [7]:
raw_df['Customer City'].value_counts()

Caguas         66770
Chicago         3885
Los Angeles     3417
Brooklyn        3412
New York        1816
               ...
Bartlett          25
Ponce             22
Malden            22
Freehold          13
CA                 3
Name: Customer City, Length: 563, dtype: int64

In [8]:
raw_df['Customer Country'].value_counts()

EE. UU.        111146
Puerto Rico     69373
Name: Customer Country, dtype: int64

In [5]:
raw_df['Late_delivery_risk'].value_counts()
input_cols = ['Late_delivery_risk',"Type",'Days for shipment (scheduled)','Benefit per order','Sales per customer','Category Id','Customer City','Customer State','Customer Street','Customer Segment','Department Id','Latitude','Longitude','Market', 'Order City','Order State','Order Item Cardprod Id','Order Item Discount','Order Item Discount Rate','Order Item Product Price','Order Item Profit Ratio','Order Item Quantity','Sales','Order Item Total','Order Profit Per Order','Order Region','Order Status','Product Price','Shipping Mode']
raw_df['Late_delivery_risk'].value_counts()

1    98977
0    81542
Name: Late_delivery_risk, dtype: int64

In [6]:
df1=raw_df[input_cols].copy()
print('Columns Remaining after Initital Screening:')
df1.columns

Columns Remaining after Initital Screening:

Index(['Late_delivery_risk', 'Type', 'Days for shipment (scheduled)',
       'Benefit per order', 'Sales per customer', 'Category Id',
       'Customer City', 'Customer State', 'Customer Street',
       'Customer Segment', 'Department Id', 'Latitude', 'Longitude', 'Market',
       'Order City', 'Order State', 'Order Item Cardprod Id',
       'Order Item Discount', 'Order Item Discount Rate',
       'Order Item Product Price', 'Order Item Profit Ratio',
       'Order Item Quantity', 'Sales', 'Order Item Total',
       'Order Profit Per Order', 'Order Region', 'Order Status',
       'Product Price', 'Shipping Mode'],
      dtype='object')

In [7]:
numeric_cols =df1.select_dtypes(include=np.number).columns.tolist()
categorical_cols = df1.select_dtypes('object').columns.tolist()

In [8]:
print("Number of null values in each numerical columns:")
df1[numeric_cols].isna().sum()

Number of null values in each numerical columns:

Late_delivery_risk               0
Days for shipment (scheduled)    0
Benefit per order                0
Sales per customer               0
Category Id                      0
Department Id                    0
Latitude                         0
Longitude                        0
Order Item Cardprod Id           0
Order Item Discount              0
Order Item Discount Rate         0
Order Item Product Price         0
Order Item Profit Ratio          0
Order Item Quantity              0
Sales                            0
Order Item Total                 0
Order Profit Per Order           0
Product Price                    0
dtype: int64

In [9]:
print("Number of null values in each categorical columns:")
df1[categorical_cols].isna().sum()

Number of null values in each categorical columns:

Type                0
Customer City       0
Customer State      0
Customer Street     0
Customer Segment    0
Market              0
Order City          0
Order State         0
Order Region        0
Order Status        0
Shipping Mode       0
dtype: int64

In [10]:
df1[categorical_cols].nunique()

Type                   4
Customer City        563
Customer State        46
Customer Street     7458
Customer Segment       3
Market                 5
Order City          3597
Order State         1089
Order Region          23
Order Status           9
Shipping Mode          4
dtype: int64

In [11]:
use_sample = True
sample_fraction = 0.1
if use_sample:
    df1 = df1.sample(frac=sample_fraction).copy()

In [12]:
target_col = 'Late_delivery_risk'

In [13]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
scaler.fit(df1[numeric_cols])

MinMaxScaler()

In [14]:
df1[numeric_cols]=scaler.transform(df1[numeric_cols])

In [15]:
from sklearn.preprocessing import OneHotEncoder
encoder = OneHotEncoder(sparse=False, handle_unknown='ignore')

encoded_df=pd.DataFrame(encoder.fit_transform(df1[categorical_cols]))

In [16]:
df1=df1.drop(columns=categorical_cols)

In [17]:
df1.head()

        Late_delivery_risk  ...  Product Price
85291                  0.0  ...       0.060302
65167                  1.0  ...       0.145724
51924                  0.0  ...       0.050251
58993                  1.0  ...       0.025126
105123                 1.0  ...       0.020095

[5 rows x 18 columns]

In [18]:
df1.reset_index(drop=True,inplace=True)

In [19]:
df1.head()

   Late_delivery_risk  ...  Product Price
0                 0.0  ...       0.060302
1                 1.0  ...       0.145724
2                 0.0  ...       0.050251
3                 1.0  ...       0.025126
4                 1.0  ...       0.020095

[5 rows x 18 columns]

In [20]:
encoded_df.head()

   0      1      2      3      4      ...  10198  10199  10200  10201  10202
0    0.0    0.0    0.0    1.0    0.0  ...    0.0    0.0    0.0    0.0    1.0
1    0.0    1.0    0.0    0.0    0.0  ...    0.0    0.0    0.0    1.0    0.0
2    0.0    0.0    0.0    1.0    0.0  ...    0.0    0.0    0.0    0.0    1.0
3    0.0    0.0    1.0    0.0    0.0  ...    0.0    1.0    0.0    0.0    0.0
4    0.0    0.0    1.0    0.0    0.0  ...    0.0    1.0    0.0    0.0    0.0

[5 rows x 10203 columns]

In [21]:
encoded_df.columns=encoded_df.columns.astype(str)

In [22]:
encoded_df.shape

(18052, 10203)

In [23]:
df1.shape

(18052, 18)

In [24]:
final_df=pd.merge(df1,encoded_df, left_index=True, right_index=True)

In [25]:
final_df.shape

(18052, 10221)

In [26]:
final_df1=final_df['Late_delivery_risk']

In [27]:
final_df2=final_df.drop('Late_delivery_risk',axis=1)

In [28]:
final_df1.shape

(18052,)

In [29]:
final_df2.shape

(18052, 10220)

In [30]:
final_df1.tail()

18047    0.0
18048    0.0
18049    1.0
18050    0.0
18051    0.0
Name: Late_delivery_risk, dtype: float64

In [31]:
from sklearn.model_selection import cross_validate
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression

In [ ]:
cross_validate(LogisticRegression(solver='liblinear',multi_class='ovr'), final_df2,final_df1,scoring=['recall','precision','accuracy'],cv=10)

{'fit_time': array([10.72816014,  5.35793114,  6.34382677,  6.58548307,  6.52702141,
         6.26934648,  6.2727344 ,  6.49010968,  6.59624958,  6.35939121]),
 'score_time': array([1.17957544, 0.10943604, 0.10597086, 0.09412742, 0.14012098,
        0.10936737, 0.12314487, 0.07851243, 0.11353254, 0.08806062]),
 'test_recall': array([0.69613821, 0.66429298, 0.66632757, 0.67955239, 0.69277721,
        0.69989827, 0.69786368, 0.71617497, 0.68972533, 0.7110885 ]),
 'test_precision': array([0.74618736, 0.75578704, 0.75114679, 0.73812155, 0.75582686,
        0.74137931, 0.7489083 , 0.76688453, 0.73856209, 0.75813449]),
 'test_accuracy': array([0.70542636, 0.70044297, 0.69806094, 0.69418283, 0.71080332,
        0.70360111, 0.70803324, 0.72686981, 0.69806094, 0.71911357])}

In [ ]:
#cross_val_score(LogisticRegression(solver='liblinear',multi_class='ovr'),final_df2,final_df1, scoring='recall',cv=10)

array([0.77408638, 0.76756757, 0.77362637, 0.75399361, 0.7761194 ,
       0.75543478, 0.76612022, 0.7562028 , 0.76772083, 0.74509804])

In [43]:
from sklearn.ensemble import RandomForestClassifier

In [ ]:
cross_val_score(RandomForestClassifier(n_estimators=40),final_df2,final_df1,scoring='recall' ,cv=10)

array([0.82258065, 0.83138781, 0.83062331, 0.80739796, 0.82573727,
       0.79663212, 0.83648649, 0.82430647, 0.79898219, 0.80784314])

In [ ]:
cross_validate(RandomForestClassifier(n_estimators=50), final_df2,final_df1,scoring=['recall','precision','accuracy'],cv=10)

{'fit_time': array([42.4977653 , 43.4555788 , 42.56390429, 40.95830154, 43.70050359,
        43.73070359, 47.29086089, 43.31857824, 44.5154767 , 44.82117271]),
 'score_time': array([0.22193408, 0.21872401, 0.17187309, 0.20304799, 0.20377707,
        0.19623351, 0.2563405 , 0.18786669, 0.23631692, 0.17185807]),
 'test_recall': array([0.59552846, 0.59003052, 0.59409969, 0.60834181, 0.60528993,
        0.6276704 , 0.61953204, 0.64191251, 0.61546287, 0.62360122]),
 'test_precision': array([0.81502086, 0.82503556, 0.82253521, 0.79415671, 0.8218232 ,
        0.80865007, 0.82744565, 0.82054616, 0.78673602, 0.81951872]),
 'test_accuracy': array([0.70598007, 0.70874862, 0.70914127, 0.70083102, 0.71357341,
        0.71634349, 0.72243767, 0.72853186, 0.69972299, 0.72022161])}

In [52]:
cross_validate(RandomForestClassifier(n_estimators=100), final_df2,final_df1,scoring=['recall','precision','accuracy'],cv=10)

{'fit_time': array([64.48792505, 64.49891734, 64.71712255, 63.47135663, 64.3892417 ,
        64.12732959, 63.32583404, 63.9357276 , 65.13119006, 64.3544004 ]),
 'score_time': array([0.29351902, 0.28763819, 0.27293563, 0.27128339, 0.26895452,
        0.27642989, 0.27567363, 0.28159881, 0.28640532, 0.28334665]),
 'test_accuracy': array([0.72314507, 0.72535991, 0.71578947, 0.71468144, 0.72963989,
        0.71966759, 0.74515235, 0.72797784, 0.72686981, 0.72742382]),
 'test_precision': array([0.83310534, 0.83220568, 0.83356841, 0.82845188, 0.83831522,
        0.83519553, 0.86046512, 0.84254144, 0.84497207, 0.84615385]),
 'test_recall': array([0.61702128, 0.6231003 , 0.59939148, 0.60243408, 0.62576065,
        0.60649087, 0.6372847 , 0.61803445, 0.61296859, 0.61296859])}

In [ ]:
cross_val_score(RandomForestClassifier(n_estimators=50),final_df2,final_df1,scoring='recall' ,cv=10)

NameError: name 'RandomForestClassifier' is not defined

In [32]:
from sklearn.svm import SVC

In [ ]:
# very slow, 
#cross_val_score(SVC(gamma='auto'), final_df2,final_df1,scoring='precision' ,cv=10)

In [33]:
from sklearn.decomposition import PCA

In [53]:
pca=PCA(n_components=6)

In [54]:
pca.fit(final_df2)

PCA(n_components=6)

In [55]:
final_df2_pca=pca.transform(final_df2)

In [56]:
final_df2_pca.shape

(18052, 6)

In [57]:
final_df2_pca=pd.DataFrame(final_df2_pca)

In [58]:
final_df2_pca.head()

          0         1         2         3         4         5
0 -0.472631 -0.628414 -0.448481  0.301216 -1.318868  0.906046
1  1.029528 -0.458654  0.788786 -0.036535  0.002623 -0.585451
2 -0.564819  0.866225 -0.787584  1.090289  0.483553  0.806793
3 -0.863732  0.809182  0.916120 -0.697937  0.496076 -0.650867
4 -0.456952 -0.732050  1.008817 -0.528248 -0.382212 -0.560222

In [40]:
prec=cross_val_score(LogisticRegression(solver='liblinear',multi_class='ovr'), final_df2_pca,final_df1,scoring='recall',cv=10)
prec

array([0.5491388 , 0.556231  , 0.53651116, 0.52332657, 0.56288032,
       0.54259635, 0.5775076 , 0.5633232 , 0.56129686, 0.56838906])

In [ ]:
np.average(prec)

0.8038098328193224

In [44]:
cross_validate(RandomForestClassifier(n_estimators=40),final_df2_pca,final_df1,scoring=['recall','precision','accuracy' ],cv=10)

{'fit_time': array([3.68675494, 3.66198659, 3.66281772, 3.65118003, 3.64924383,
        3.62917471, 3.61261535, 3.5202136 , 3.53361487, 3.69608164]),
 'score_time': array([0.0290215 , 0.02911568, 0.02881622, 0.02927756, 0.03041744,
        0.03204989, 0.02930617, 0.02897668, 0.03522325, 0.02886367]),
 'test_accuracy': array([0.7021041 , 0.70265781, 0.69196676, 0.69750693, 0.70304709,
        0.70526316, 0.71855956, 0.70526316, 0.70747922, 0.70470914]),
 'test_precision': array([0.76318875, 0.75743707, 0.75966184, 0.75882353, 0.76041667,
        0.7702381 , 0.77946324, 0.76859504, 0.76655052, 0.75913242]),
 'test_recall': array([0.65957447, 0.67071935, 0.63793103, 0.65415822, 0.6663286 ,
        0.65618661, 0.67679838, 0.65957447, 0.66869301, 0.67375887])}

In [50]:
cross_validate(RandomForestClassifier(n_estimators=60),final_df2_pca,final_df1,scoring=['recall','precision','accuracy' ],cv=10)

{'fit_time': array([5.41006136, 5.47401881, 5.49582267, 5.57853937, 5.45587254,
        5.35374403, 5.45044661, 5.46256542, 5.44311094, 5.48688221]),
 'score_time': array([0.03837132, 0.04178858, 0.04028773, 0.04050136, 0.03997517,
        0.04227519, 0.03964257, 0.0390048 , 0.03829241, 0.04040837]),
 'test_accuracy': array([0.71207087, 0.69712071, 0.70692521, 0.70470914, 0.71689751,
        0.70027701, 0.72465374, 0.70914127, 0.70304709, 0.71689751]),
 'test_precision': array([0.77502945, 0.74498886, 0.77365269, 0.77060932, 0.77520278,
        0.75842044, 0.79028436, 0.77112676, 0.76374269, 0.77293578]),
 'test_recall': array([0.66666667, 0.67781155, 0.65517241, 0.65415822, 0.67849899,
        0.66227181, 0.67578521, 0.6656535 , 0.66160081, 0.68287741])}

In [51]:
cross_validate(RandomForestClassifier(n_estimators=100),final_df2_pca,final_df1,scoring=['recall','precision','accuracy' ],cv=10)

{'fit_time': array([9.25037861, 9.20881391, 9.26471782, 9.28436661, 9.19036674,
        9.2222085 , 9.24971843, 9.30462074, 9.15909433, 9.34547353]),
 'score_time': array([0.06284428, 0.06214833, 0.06741881, 0.06190205, 0.05955052,
        0.06251931, 0.06344175, 0.06183672, 0.06150508, 0.06530476]),
 'test_accuracy': array([0.71317829, 0.71151717, 0.70193906, 0.69418283, 0.70470914,
        0.70747922, 0.72354571, 0.71024931, 0.70637119, 0.72354571]),
 'test_precision': array([0.7762073 , 0.76598174, 0.7673031 , 0.757109  , 0.76491228,
        0.77004717, 0.79116945, 0.77619048, 0.76662777, 0.77539503]),
 'test_recall': array([0.66767984, 0.67983789, 0.65212982, 0.64807302, 0.663286  ,
        0.66227181, 0.67173252, 0.66058764, 0.6656535 , 0.69604863])}

In [ ]:
np.average(prec_randomforest)

NameError: name 'prec_randomforest' is not defined

In [45]:
from sklearn.svm import SVC

In [46]:
cross_validate(SVC(gamma='auto'), final_df2_pca,final_df1,scoring=['recall','precision','accuracy'] ,cv=10)

{'fit_time': array([19.1443584 , 19.44939613, 19.10635638, 18.96406555, 19.29466987,
        18.92795682, 19.22989631, 19.39203739, 19.64447045, 19.75996137]),
 'score_time': array([1.60835457, 1.58420157, 1.58458114, 1.52787161, 1.57352996,
        1.52971268, 1.64062262, 1.80136514, 1.70764089, 1.58061337]),
 'test_accuracy': array([0.69712071, 0.69712071, 0.68476454, 0.68531856, 0.70470914,
        0.69085873, 0.71689751, 0.70304709, 0.70914127, 0.70969529]),
 'test_precision': array([0.8514377 , 0.83950617, 0.84124386, 0.85185185, 0.855573  ,
        0.84627832, 0.871875  , 0.84853168, 0.86666667, 0.85451761]),
 'test_recall': array([0.54002026, 0.55116515, 0.52129817, 0.51318458, 0.55273834,
        0.53042596, 0.56534954, 0.556231  , 0.55319149, 0.56534954])}

In [ ]:
prec_svm=np.array([0.8141844 , 0.80487805, 0.80367232, 0.80737705, 0.80551724,
       0.78726287, 0.82014388, 0.79946164, 0.79892038, 0.7966805])
np.average(prec_svm)

0.8038098330000001

In [47]:
from sklearn.naive_bayes import GaussianNB

In [48]:
cross_validate(GaussianNB(), final_df2_pca,final_df1,scoring=['recall','precision','accuracy'] ,cv=10)

{'fit_time': array([0.01457739, 0.01168728, 0.01087618, 0.01077127, 0.01118541,
        0.0109992 , 0.0110786 , 0.01176357, 0.01161695, 0.0157969 ]),
 'score_time': array([0.00775552, 0.00728393, 0.007972  , 0.00731683, 0.00745535,
        0.00775313, 0.00768661, 0.00741267, 0.00985456, 0.00742316]),
 'test_accuracy': array([0.69712071, 0.696567  , 0.68587258, 0.68365651, 0.70304709,
        0.69030471, 0.71357341, 0.70360111, 0.71301939, 0.71357341]),
 'test_precision': array([0.82835821, 0.82908546, 0.82380216, 0.82988871, 0.8358209 ,
        0.83100775, 0.85074627, 0.83731343, 0.85801527, 0.85074627]),
 'test_recall': array([0.56231003, 0.56028369, 0.54056795, 0.52941176, 0.56795132,
        0.54361055, 0.5775076 , 0.56838906, 0.56940223, 0.5775076 ])}

In [49]:
cross_validate(GaussianNB(), final_df2,final_df1,scoring=['recall','precision','accuracy'] ,cv=10)

{'fit_time': array([3.55941463, 3.55432725, 3.53528285, 3.56405592, 3.53513861,
        3.52558112, 3.5646131 , 3.52168107, 3.5029068 , 3.58399463]),
 'score_time': array([0.32474947, 0.33273602, 0.33165932, 0.32762837, 0.32590866,
        0.32590294, 0.33773017, 0.33488178, 0.32995391, 0.32489324]),
 'test_accuracy': array([0.53709856, 0.5448505 , 0.52631579, 0.53573407, 0.52742382,
        0.53795014, 0.53628809, 0.53351801, 0.5401662 , 0.54182825]),
 'test_precision': array([0.67681499, 0.67590618, 0.64459161, 0.65416667, 0.65079365,
        0.67351598, 0.6659292 , 0.65795207, 0.67177243, 0.66326531]),
 'test_recall': array([0.29280648, 0.32117528, 0.29614604, 0.31845842, 0.29107505,
        0.29918864, 0.30496454, 0.30597771, 0.31104357, 0.32928065])}

In [59]:
cross_validate(GaussianNB(), final_df2_pca,final_df1,scoring=['recall','precision','accuracy'] ,cv=10)

{'fit_time': array([0.01070905, 0.00686169, 0.00651431, 0.00704861, 0.00673461,
        0.00641537, 0.00619531, 0.00677371, 0.00666618, 0.00632405]),
 'score_time': array([0.00718689, 0.0067668 , 0.00670457, 0.00712538, 0.00643611,
        0.00676918, 0.00660133, 0.00604033, 0.00639796, 0.00673652]),
 'test_accuracy': array([0.68936877, 0.69435216, 0.67645429, 0.67590028, 0.70470914,
        0.68587258, 0.70747922, 0.70027701, 0.70415512, 0.70692521]),
 'test_precision': array([0.78475936, 0.78807947, 0.78230337, 0.78683834, 0.81155433,
        0.78896552, 0.8105548 , 0.79973118, 0.81678322, 0.8102981 ]),
 'test_recall': array([0.59473151, 0.60283688, 0.56490872, 0.55780933, 0.59837728,
        0.5801217 , 0.60688956, 0.60283688, 0.591692  , 0.60587639])}

In [ ]:
#prec_naivebayes=cross_val_score(GaussianNB(), final_df2_pca,final_df1,scoring='precision' ,cv=10)
#prec_naivebayes

array([0.8141844 , 0.80487805, 0.80367232, 0.80737705, 0.80551724,
       0.78726287, 0.82014388, 0.79946164, 0.79892038, 0.7966805 ])

In [ ]:
#np.average(prec_naivebayes)

0.8038098328193224